.login-bg {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dark-bg {
  background-color: #383838;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-card {
  box-shadow: 1px 2px 9px #5274;
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.dark-card {
  background-color: #000000;
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.input-cont {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
}
.web-logo {
  height: 40px;
  width: 150px;
  align-self: center;
}
.label {
  font-weight: 700;
  color: #475569;
}
.ch-box {
  display: flex;
  padding: 5px;
  margin: 5px;
}
.but {
  background-color: #3b82f6;
  border-width: 0px;
  color: #ffffff;
  padding: 10px;
  width: 95%;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
}
.error {
  color: #ff0000;
}
